@using Online_Consultation
@model Online_Consultation.Models.Medicine
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <h2 style="color:mediumpurple">
        Add a Medicine
    </h2>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>

        <div class="form-group row">
            <div class=",col-2">
                <label asp-for="mname"></label>
            </div>
            <div class="col-5">
                <input asp-for="mname" class="form-control" id="validationCustom05" required/>
                <div class="invalid-feedback">
                    Please give input
                </div>
            </div>
            <span asp-validation-for="mname" class="text-danger"></span>
             <div class=",col-2">
                <label asp-for="mprice"></label>
            </div>
            <div class="col-5">
                <input asp-for="mprice" class="form-control" id="validationCustom05" required/>
                <div class="invalid-feedback">
                    Please give input
                </div>
            </div>
            <span asp-validation-for="mprice" class="text-danger"></span>
            <div class=",col-2">
                <label asp-for="mfg"></label>
            </div>
            <div class="col-5">
                 <input asp-for="mfg" class="form-control" id="validationCustom05" required/>
                <div class="invalid-feedback">
                    Please give input
                </div>
            </div>
            <span asp-validation-for="mfg" class="text-danger"></span>
            <div class=",col-2">
                <label asp-for="exp"> </label>
            </div>
            <div class="col-5">
                <input asp-for="exp" class="form-control"id="validationCustom05" required>
                <div class="invalid-feedback">
                    Please give input
                </div>
            </div>
            <span asp-validation-for="exp" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input class="btn btn-primary" value="save" type="submit"/>
            <a asp-action="DoctorProfile" asp-controller="Doctors" class="btn btn-success"> Back to List</a>
        </div>
    </div>
</form>
</div>

