@using Online_Consultation
@model Online_Consultation.Models.PatientProfile
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <h2 style="color:mediumpurple">
        Edit A Patient
    </h2>
    <form asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
             <div class="form-group row">
            <div class="col-6">
                <label asp-for="pname"></label>
            </div>
            <div class="col-6">
                <input asp-for="pname" readonly="readonly" class="form-control" id="validationCustom05" required/>
            </div>
            </div>
            <div class="form-group row">
            <span asp-validation-for="pname" class="text-danger"></span>
            <br />
             <div class="col-6">
                <label asp-for="address"></label>
            </div>
            <input asp-for = "address" readonly="readonly" type="hidden"/>
            <div class="col-6">
                <input asp-for="address" readonly="readonly" class="form-control"  id="validationCustom05" required/>
            </div>
            <span asp-validation-for="address" class="text-danger"></span>
            <br />
            </div>
            <div class="form-group row">
            <div class="col-6">
                <label asp-for="Email"></label>
            </div>
            <div class="col-6">
                <input asp-for="Email" readonly="readonly" class="form-control"  id="validationCustom05" required/>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            </div>
            <div class="form-group row">
            <div class="col-6">
                <label asp-for="pImage"> </label>
            </div>
            <div class="col-6">
                <input asp-for="pImage" disabled readonly="readonly" class="form-control" type="file">
            </div>
            <span asp-validation-for="pImage" class="text-danger"></span>
            <br />
            </div>
            <div class="form-group row">
            <div class="col-6">
                <label asp-for="Mobile"></label>
            </div>
            <div class="col-6">
                <input asp-for="Mobile" readonly="readonly" class="form-control" id="validationCustom05" required/>
            </div>
            <span asp-validation-for="Mobile" class="text-danger"></span>
            <br />
            </div>
            
        <div class="form-group">
            <input class="btn btn-danger" value="Delete" type="submit"/>
            <a asp-action="PatientProfile" class="btn btn-success"> Back to List</a>
        </div>
        </div>
         <div class="col-1">

        </div>
         <div class="col-3">
             <img src="~/@Model.pImageUrl" width="100%"/>
        </div>

       
    </div>
</form>
</div>



