@using Online_Consultation
@model Online_Consultation.Models.Department

@{
    ViewData["Title"] = "Department";
}

<div class="row">
    <h2 style="color:mediumpurple">
        Add a Employee
    </h2>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>

        <div class="form-group row">
            <div class=",col-2">
                <label asp-for="dname"></label>
            </div>
            <div class="col-5">
                <input asp-for="dname" class="form-control" id="validationCustom05" required/>
                <div class="invalid-feedback">
                    Please give input
                </div>
            </div>
            <span asp-validation-for="dname" class="text-danger"></span>
            
        </div>
        <br />
        <div class="form-group">
            <input class="btn btn-primary" value="save" type="submit"/>
            <a asp-action="Index" class="btn btn-success"> Back to List</a>
        </div>
    </div>
</form>
</div>
