@using Online_Consultation
@model Online_Consultation.Models.Billing
@{
    ViewData["Title"] = "Billing";
}
 <h1 class="text-center">Your Google meet is below please join</h1>
 <a href="https://meet.google.com/ihd-ywsz-ykn">
     goole meet link
 </a>

